{% set parent = 'base.html.twig' %}
{% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set parent = 'base-frontend.html.twig' %}
{% else %}
    {% set parent = 'base-anonymus.html.twig' %}
{% endif %}

{% extends parent %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/acmeeventmanager/css/jquery-ui.css') }}">
{% endblock %}
{% block title -%}{{ parent() }} - Edit user data{% endblock title %}

{% block content %}
    <h1>UserData edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.surname) }}
    {{ form_row(edit_form.faculty) }}
    {{ form_row(edit_form.university) }}
    {{ form_row(edit_form.country) }}
    {{ form_row(edit_form.acceptedTerms) }}
    {{ form_row(edit_form.needsVisa) }}
    {{ form_row(edit_form.isVegetarian) }}
    {{ form_row(edit_form.phoneNumber) }}
    {{ form_row(edit_form.yearOfStudies) }}
    {{ form_row(edit_form.fieldOfStudies) }}
    {{ form_row(edit_form.nationality) }}
    {{ form_row(edit_form.gender) }}
    {{ form_row(edit_form._token) }}

    {{ form_row(edit_form.submit, { 'label': 'Submit me' }) }}
    {{ form_end(edit_form, {'render_rest': false}) }}

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeeventmanager/js/autocomplete-script.js') }}"></script>
{% endblock %}