{% set parent = 'base.html.twig' %}
{% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set parent = 'base-frontend.html.twig' %}
{% else %}
    {% set parent = 'base-anonymus.html.twig' %}
{% endif %}

{% extends parent %}

{% block content %}
    <h1>UserData edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.surname) }}
    {{ form_row(edit_form.faculty) }}
    {{ form_row(edit_form.university) }}
    {{ form_row(edit_form.country) }}
    {{ form_row(edit_form.acceptedTerms) }}
    {{ form_row(edit_form.needsVisa) }}
    {{ form_row(edit_form.isVegetarian) }}
    {{ form_row(edit_form.phoneNumber) }}
    {{ form_row(edit_form.yearOfStudies) }}
    {{ form_row(edit_form.fieldOfStudies) }}
    {{ form_row(edit_form.nationality) }}
    {{ form_row(edit_form.gender) }}
    {{ form_row(edit_form._token) }}

    {{ form_row(edit_form.submit, { 'label': 'Submit me' }) }}
    {{ form_end(edit_form, {'render_rest': false}) }}

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script>
        $(function () {
            $("#user_data_country").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "http://localhost/sites/EMW-Platform/web/app_dev.php/api/v1/countries",
                        dataType: 'json',
                        data: {
                            searchTerm: request.term,
                            limit: 5,
                            order: 'ASC'
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 1,
                dataType: 'json'
            });
            $("#user_data_faculty").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "http://localhost/sites/EMW-Platform/web/app_dev.php/api/v1/faculties",
                        dataType: 'json',
                        data: {
                            searchTerm: request.term,
                            limit: 5,
                            order: 'ASC'
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 1,
                dataType: 'json'
            });
//            $("#user_data_university_name").autocomplete({
//                source: function (request, response) {
//                    $.ajax({
//                        url: "http://localhost/sites/EMW-Platform/web/app_dev.php/api/v1/universities",
//                        dataType: 'json',
//                        data: {
//                            searchTerm: request.term,
//                            limit: 5,
//                            order: 'ASC'
//                        },
//                        success: function (data) {
//                            response(data);
//                        }
//                    });
//                },
//                minLength: 1,
//                dataType: 'json',
//                change: function (event, ui) {
//                    $("#user_data_university_name").val(ui.item ? ui.item.value : "");
//                    if (ui.item) {
//                        $("#user_data_university_address").val(ui.item.address);
//                    }
//                },
//                select: function (event, ui) {
//                    $("#user_data_university_name").val(ui.item ? ui.item.value : "");
//                    $("#user_data_university_address").val(ui.item.address);
//                }
//            });
        });
    </script>
{% endblock %}