{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UserData list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Createdat</th>
            <th>Lasteditedat</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Fieldofstudies</th>
            <th>Yearofstudies</th>
            <th>Phonenumber</th>
            <th>Isvegetarian</th>
            <th>Needsvisa</th>
            <th>Acceptedterms</th>
            <th>Photouniqueid</th>
            <th>Passportuniqueid</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_data_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.gender }}</td>
                <td>{{ entity.nationality }}</td>
                <td>{{ entity.university.name }}</td>
                <td>{{ entity.fieldOfStudies }}</td>
                <td>{{ entity.yearOfStudies }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td>{{ entity.isVegetarian }}</td>
                <td>{{ entity.needsVisa }}</td>
                <td>{{ entity.acceptedTerms }}</td>
                <td>{{ entity.photoUniqueId }}</td>
                <td>{{ entity.passportUniqueId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_data_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_data_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_data_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
