{% set parent = 'base.html.twig' %}
{% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set parent = 'base-frontend.html.twig' %}
{% else %}
    {% set parent = 'base-anonymus.html.twig' %}
{% endif %}

{% extends parent %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/acmeeventmanager/css/jquery-ui.css') }}">
{% endblock %}
{% form_theme form '@AcmeEventManager/Form/label.html.twig' %}

{% block content %}
    <h1>UserData creation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.faculty) }}
    {{ form_row(form.university) }}
    {{ form_row(form.country) }}
    {{ form_row(form.acceptedTerms) }}
    {{ form_row(form.needsVisa) }}
    {{ form_row(form.isVegetarian) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.yearOfStudies) }}
    {{ form_row(form.fieldOfStudies) }}
    {{ form_row(form.nationality) }}
    {{ form_row(form.gender) }}
    {{ form_row(form._token) }}

    {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeeventmanager/js/autocomplete-script.js') }}"></script>
{% endblock %}