{% extends 'base-frontend.html.twig' %}

{% block body -%}
    <h1>UserData</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ entity.gender }}</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>{{ entity.nationality }}</td>
        </tr>
        <tr>
            <th>Fieldofstudies</th>
            <td>{{ entity.fieldOfStudies }}</td>
        </tr>
        <tr>
            <th>Yearofstudies</th>
            <td>{{ entity.yearOfStudies }}</td>
        </tr>
        <tr>
            <th>Phonenumber</th>
            <td>{{ entity.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Isvegetarian</th>
            <td>{{ entity.isVegetarian }}</td>
        </tr>
        <tr>
            <th>Needsvisa</th>
            <td>{{ entity.needsVisa }}</td>
        </tr>
        <tr>
            <th>Acceptedterms</th>
            <td>{{ entity.acceptedTerms }}</td>
        </tr>
        <tr>
            <th>Photouniqueid</th>
            <td>{{ entity.photoUniqueId }}</td>
        </tr>
        <tr>
            <th>Passportuniqueid</th>
            <td>{{ entity.passportUniqueId }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('user_data') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('user_data_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
