<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title -%}East Meets West registration app{% endblock title %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('assets/css/bootstrap-theme.min.css') }}">
    {% endblock %}
    {% block scripts %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
