{% extends 'base-frontend.html.twig' %}

{% block body -%}
    <h1>Paper list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Createdat</th>
            <th>Lasteditedat</th>
            <th>Status</th>
            <th>Title</th>
            <th>Coauthors</th>
            <th>Researchadvisor</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('paper_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastEditedAt %}{{ entity.lastEditedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.coAuthors }}</td>
                <td>{{ entity.researchAdvisor }}</td>
                <td>{{ entity.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paper_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paper_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paper_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
