{% extends 'base-backend.html.twig' %}
{% block body %}
    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ paper.paperTitle }}
                </div>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <div>
                        {{ paper.authorName }}<br>
                        {{ paper.authorSurname }}<br>
                        {{ paper.authorFieldOfStudies }}<br>
                        {{ paper.authorYearOfStudies }}<br>
                        {{ paper.facultyName }}<br>
                    </div>
                    <div>
                        {{ paper.universityName }}<br>
                        {{ paper.universityAddress }}<br>
                    </div>
                    <div>
                        {{ paper.paperCoAuthors }}<br>
                        {{ paper.paperResearchAdvisor }}<br>
                        {{ paper.paperTitle }}<br>
                    </div>
                    <div class="text-center">
                        <hr>
                        {{ paper.paperContent }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}