{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PaperCategory</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Lasteditedat</th>
            <td>{{ entity.lastEditedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Universalpapercategory</th>
            <td>{{ entity.universalPaperCategory }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_paper_category') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('admin_paper_category_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
