{% extends 'base-backend.html.twig' %}

{% block content %}
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Country
                </h3>
            </div>
            <div class="panel-body">
                <b>Created at:</b> {{ entity.createdAt|date('Y-m-d H:i:s') }}<br>
                <b>Name:</b> {{ entity.name }}<br>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('admin_country') }}">
                            Back to the list
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_country_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
