{% extends 'base-backend.html.twig' %}
{% block title -%}{{ parent() }} - Universities{% endblock title %}

{% block content %}
    <h1>Universities</h1>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('admin_university_new') }}">
                Add new university.
            </a>
        </li>
        <li>
            <a href="{{ path('admin_university_export_list_to_csv') }}">Export to *.csv.</a>
        </li>
        <li>
            <a href="{{ path('admin_university_import_list_from_csv') }}">Import from *.csv.</a>
        </li>
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.address }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('admin_university_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_university_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
