{% extends 'base-backend.html.twig' %}

{% block content %}
    <div class="row text-center">
        <h1>{{ event.name }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Participants
                    </h3>
                </div>
                <div class="panel-body">
                    All participants: {{ statistics.participants.totalAmount }}<br>
                    <a href="{{ path('admin_event_participants', {'id': event.id, 'type': 'a', 'period': 0 }) }}">Get
                        all
                        participants data.</a>
                    <hr>
                    <h5>Statistics from last 31 days</h5><br>
                    {% if statistics.participants.last31Days == false %}
                        No user joined last 31 days.
                    {% else %}
                        <a href="{{ path('admin_event_participants', {'id': event.id, 'type': 'd', 'period': 31 }) }}">Get
                            participants data from last 31 days</a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Day</th>
                                <th>Joined</th>
                                <th>Sub sum</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, statistics in statistics.participants.last31Days %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ statistics.number }}</td>
                                    <td>{{ statistics.subSum }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <hr>
                    <h5>Statistics from last 12 hours</h5><br>
                    {% if statistics.participants.last12Hours == false %}
                        No user joined last 12 hours.
                    {% else %}
                        <a href="{{ path('admin_event_participants', {'id': event.id, 'type': 'h', 'period': 12 }) }}">Get
                            participants data from last 12 hours</a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Hour</th>
                                <th>Joined</th>
                                <th>Sub sum</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, statistics in statistics.participants.last12Hours %}
                                <tr>
                                    <td>{{ key | slice(11, 12) }}{{ ':00' }}</td>
                                    <td>{{ statistics.number }}</td>
                                    <td>{{ statistics.subSum }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Papers
                    </h3>
                </div>
                <div class="panel-body">
                    All papers: {{ statistics.papers.totalAmount }}<br>
                    <a href="{{ path('admin_event_papers', {'id': event.id, 'type': 'a', 'period': 0 }) }}">Get all
                        papers.</a>
                    <hr>
                    <h5>Statistics from last 31 days</h5><br>
                    {% if statistics.papers.last31Days == false %}
                        No paper added in last 31 days.
                    {% else %}
                        <a href="{{ path('admin_event_papers', {'id': event.id, 'type': 'd', 'period': 31 }) }}">Get
                            papers from last 31 days</a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Day</th>
                                <th>Added</th>
                                <th>Sub sum</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, statistics in statistics.papers.last31Days %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ statistics.number }}</td>
                                    <td>{{ statistics.subSum }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <hr>
                    <h5>Statistics from last 12 hours</h5><br>
                    {% if statistics.papers.last12Hours == false %}
                        No user joined last 12 hours.
                    {% else %}
                        <a href="{{ path('event_papers', {'id': event.id, 'type': 'h', 'period': 12 }) }}">Get
                            papers from last 12 hours</a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Hour</th>
                                <th>Added</th>
                                <th>Sub sum</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, statistics in statistics.papers.last12Hours %}
                                <tr>
                                    <td>{{ key | slice(11, 12) }}{{ ':00' }}</td>
                                    <td>{{ statistics.number }}</td>
                                    <td>{{ statistics.subSum }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}