{% extends 'base-backend.html.twig' %}
{% block title -%}{{ parent() }} - Events{% endblock title %}

{% block content %}
    <h1>Events</h1>

    <table class="records_list table table-responsive small text-center">
        <thead>
        <tr>
            <th>Name</th>
            <th>Beginning</th>
            <th>End</th>
            <th>Registration opening</th>
            <th>Registration closure</th>
            <th>Papers registration opening</th>
            <th>Papers registration closure</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{% if entity.registrationOpening %}{{ entity.registrationOpening|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.registrationClosure %}{{ entity.registrationClosure|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.papersRegistrationOpening %}{{ entity.papersRegistrationOpening|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.papersRegistrationClosure %}{{ entity.papersRegistrationClosure|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.eventBeginning %}{{ entity.eventBeginning|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.eventEnd %}{{ entity.eventEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.eventParticipantsCount }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('admin_event_statistics', { 'id': entity.id }) }}">show stats</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_event_edit', { 'id': entity.id }) }}">edit</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li class="list-unstyled">
            <a href="{{ path('admin_event_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
