{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Createdat</th>
            <th>Lasteditedat</th>
            <th>Registrationopening</th>
            <th>Registrationclosure</th>
            <th>Eventwithpapers</th>
            <th>Papersregistrationopening</th>
            <th>Papersregistrationclosure</th>
            <th>Eventname</th>
            <th>Eventbeginning</th>
            <th>Eventend</th>
            <th>Eventisvisible</th>
            <th>Eventuniquehash</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastEditedAt %}{{ entity.lastEditedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.registrationOpening %}{{ entity.registrationOpening|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.registrationClosure %}{{ entity.registrationClosure|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.eventWithPapers }}</td>
                <td>{% if entity.papersRegistrationOpening %}{{ entity.papersRegistrationOpening|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.papersRegistrationClosure %}{{ entity.papersRegistrationClosure|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.eventName }}</td>
                <td>{% if entity.eventBeginning %}{{ entity.eventBeginning|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.eventEnd %}{{ entity.eventEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.eventIsVisible }}</td>
                <td>{{ entity.eventUniqueHash }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
