{% extends 'base-backend.html.twig' %}

{% block body -%}
    <h1>Event</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Registrationopening</th>
            <td>{{ entity.registrationOpening|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Registrationclosure</th>
            <td>{{ entity.registrationClosure|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Eventwithpapers</th>
            <td>{{ entity.eventWithPapers }}</td>
        </tr>
        <tr>
            <th>Papersregistrationopening</th>
            <td>{{ entity.papersRegistrationOpening|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Papersregistrationclosure</th>
            <td>{{ entity.papersRegistrationClosure|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Eventname</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Eventbeginning</th>
            <td>{{ entity.eventBeginning|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Eventend</th>
            <td>{{ entity.eventEnd|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Eventisvisible</th>
            <td>{{ entity.eventIsVisible }}</td>
        </tr>
        <tr>
            <th>Eventuniquehash</th>
            <td>{{ entity.eventUniqueHash }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('event') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
